img {
    float: left;
}

p+h3 {
    clear: left;
}

.modal-content hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-content img{
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 0.5rem;
    
}

.modal-content p::first-letter{
    font-size: 2rem
}